<%= error_messages_for 'user' %>

<div id="user_form">
<!--[form:user]-->
<div class="splitcontent">
<div class="splitcontentleft">
<fieldset class="box tabular">
  <legend><%=l(:label_information_plural)%></legend>

    <% attachment_param ||= 'attachments' %>
<% saved_attachments ||= container.saved_attachments if defined?(container) && container %>
<% multiple = true unless defined?(multiple) && multiple == false %>
<% show_add = multiple || saved_attachments.blank? %>
<% description = (defined?(description) && description == false ? false : true) %>
<% css_class = (defined?(filedrop) && filedrop == false ? '' : 'filedrop') %>

<span class="attachments_form">
  <span class="attachments_fields">
  <% if @user.attachments.present? %>
    <% @user.attachments.each_with_index do |attachment, i| %>
      <span id="attachments_p<%= i %>">
        <%= text_field_tag("#{attachment_param}[p#{i}][filename]", attachment.filename, :class => 'filename') %>
        <% if attachment.container_id.present? %>
          <%= link_to l(:label_delete), "#", :onclick => "$(this).closest('.attachments_form').find('.add_attachment').show(); $(this).parent().remove(); return false;", :class => 'icon-only icon-del' %>
        <% else %>
          <%= text_field_tag("#{attachment_param}[p#{i}][description]", attachment.description, :maxlength => 255, :placeholder => l(:label_optional_description), :class => 'description') if description %>
          <%= link_to('&nbsp;'.html_safe, attachment_path(attachment, :attachment_id => "p#{i}", :format => 'js'), :method => 'delete', :remote => true, :class => 'icon-only icon-del remove-upload') %>
        <% end %>
      </span>
    <% end %>

  <% end %>
  </span>
  <span class="add_attachment" style="<%= show_add ? nil : 'display:none;' %>">
    <%= file_field_tag "#{attachment_param}[dummy][file]",
        :id => nil,
        :class => "file_selector #{css_class}",
        :multiple => multiple,
        :onchange => 'addInputFiles(this);',
        :data => {
          :max_file_size => Setting.attachment_max_size.to_i.kilobytes,
          :max_file_size_message => l(:error_attachment_too_big, :max_size => number_to_human_size(Setting.attachment_max_size.to_i.kilobytes)),
          :max_concurrent_uploads => Redmine::Configuration['max_concurrent_ajax_uploads'].to_i,
          :upload_path => uploads_path(:format => 'js'),
          :param => attachment_param,
          :description => description,
          :description_placeholder => l(:label_optional_description)
        } %>
    (<%= l(:label_max_size) %>: <%= number_to_human_size(Setting.attachment_max_size.to_i.kilobytes) %>)
  </span>
</span>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'attachments' %>
<% end %>

  <!--User!-->

  <p><%= f.text_field :login, :required => true, :size => 25  %></p>
  <p><%= f.text_field :firstname, :required => true, label: :field_firstname %></p>
  <p><%= f.text_field :lastname, :required => true, label: :field_lastname %></p>
  <p><%= f.text_field :mail, :required => true %></p>
  <p>    
    <%= f.text_field :another_email, label: :field_another_email%>
  </p>
  <p>
    <%= f.label :job_position, "Chức vụ"%>
    <%= f.collection_select :job_position_id, @job_positions, :id, :name %>
  </p>
  <p>
    <%= f.radio_button :sex, "true", checked: true, :required => true, :size => 25%>
    <%= f.label :sex, "Nam"%>
  </p>
  <p>      
    <%= f.radio_button :sex, "false", :required => true,:size => 25%>
    <%= f.label :sex, "Nữ"%>
  </p>
  <p><%= f.date_field :birthday, :required => true %></p>
  <p><%= f.phone_field :phone%></p>

  <% unless @user.force_default_language? %>
  <p><%= f.select :language, lang_options_for_select %></p>
  <% end %>
  <% if Setting.openid? %>
  <p><%= f.text_field :identity_url  %></p>
  <% end %>

  <% @user.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :user, value %></p>
  <% end %>

  <p><%= f.check_box :admin, :disabled => (@user == User.current) %></p>
  <%= call_hook(:view_users_form, :user => @user, :form => f) %>
</fieldset>

<fieldset class="box tabular">
   <legend><%=l(:label_contract)%></legend>
  <p>
    <%= f.label :location_id, "Vùng miền"%>
    <%= f.collection_select :location_id, @locations, :id, :name %>
  </p>
  <p>
    <%= f.label :location_id, "Hợp đồng"%>
    <%= f.collection_select :location_id, @locations, :id, :name, label: "aaaaaaa"%>
  </p>
  <p><%= f.date_field :start_date_contract, label: "Từ"%></p>
  <p><%= f.date_field :due_date_contract, label: "Đến"%></p>
  <p>
    <%= f.label :location_id, "Trạng thái"%>
    <%= f.collection_select :location_id, @locations, :id, :name %>
  </p>
  <p><%= f.date_field :start_date_off, label: "Từ"%></p>
  <p>
    <%= f.date_field :start_date_company, label: "Ngày vào công ty", required: true%>
  </p>
</fieldset>

<fieldset class="box tabular">
  <legend><%=l(:label_authentication)%></legend>
  <% unless @auth_sources.empty? %>
  <p><%= f.select :auth_source_id, ([[l(:label_internal), ""]] + @auth_sources.collect { |a| [a.name, a.id] }), {}, :onchange => "if (this.value=='') {$('#password_fields').show();} else {$('#password_fields').hide();}" %></p>
  <% end %>
  <div id="password_fields" style="<%= 'display:none;' if @user.auth_source %>">
  <p>
    <%= f.password_field :password, :required => @user.new_record?, :size => 25  %>
    <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em>
    <% if Setting.password_required_char_classes.any? %>
      <em class="info"><%= l(:text_characters_must_contain, :character_classes => Setting.password_required_char_classes.collect{|c| l("label_password_char_class_#{c}")}.join(", ")) %></em>
    <% end %>
  </p>
  <p><%= f.password_field :password_confirmation, :required => @user.new_record?, :size => 25  %></p>
  <p><%= f.check_box :generate_password %></p>
  <p><%= f.check_box :must_change_passwd %></p>
  </div>
</fieldset>
</div>

<div class="splitcontentright">
<fieldset class="box tabular">
   <legend><%=l(:label_skill)%></legend>
  <p>
    <%= f.text_field :hardskill, label: "Hardskill"%>
  </p>
  <p>
    <%= f.text_field :softskill, label: "Softskill"%>
  </p>
  <p>
    <%= f.text_area :achievement, label: "Certifycation"%>
  </p>
</fieldset>
<fieldset class="box tabular">
   <legend><%=l(:label_kpi)%></legend>
  <p>
    <%= f.label :center, "Trung tâm"%>
    <%= f.collection_select :center_id, @centers, :id, :name %>
  </p>
  <p>
    <%= f.label :department, "Phòng ban"%>
    <%= f.collection_select :department_id, @departments, :id, :name %>
  </p>
  <p><%= f.check_box :active_kpi %></p>
  <p><%= f.check_box :active_bug %></p>
</fieldset>
<fieldset class="box tabular">
  <legend><%=l(:label_identify)%></legend>
  <p>
    <%= f.text_field :identity_card, label: "CMND"%>
  </p>
  <p>
    <%= f.date_field :identity_date, label: "Ngày cấp"%>
  </p>
  <p>
    <%= f.text_field :identity_by, label: "Nơi cấp"%>
  </p>
  <p>
    <%= f.text_field :ethnic, label: "Dân tộc"%>
  </p>

  <p>
    <label>Địa chỉ thường trú </label>
  </p>
  <p>
    <label>Tỉnh, thành phố<label>
  </p>
  <p>  
    <select id="id_provinces">
      <option disabled selected value> -- Select an option -- </option>
      <% @provinces.each do |province|%>
        <option value="<%= province.id%>">
          <%= province.name %>
        </option>
      <% end %>
    </select>
  </p>
  <p>
    <label>Quận, huyện<label>
  </p>
  <p>
    <select id="id_districts">
      <option disabled selected value></option>
      <% @districts.each do |district|%>
        <option style="display:none" value="<%= district.id%>">
          <%= district.name %>
        </option>
      <% end %>
    </select>
  </p>

  <p>
    <label>Phường, xã<label>
  </p>
  <p>
    <select id="id_wards">
      <option disabled selected value></option>
      <% @wards.each do |ward|%>
        <option style="display:none" value="<%= ward.id%>">
          <%= ward.name %>
        </option>
      <% end %>
    </select>
  </p>
  <p>
    <%= f.text_area :permanent_address, label: 'Số nhà, đường,...', id: 'id_adress'%>
  </p>
  <p>
    <label>Địa chỉ tạm trú</label>
  </p>
  <p>
    <label>Tỉnh, thành phố<label>
  </p>
  <p>  
    <select id="id_provinces">
      <option disabled selected value> -- Select an option -- </option>
      <% @provinces.each do |province|%>
        <option value="<%= province.id%>">
          <%= province.name %>
        </option>
      <% end %>
    </select>
  </p>
  <p>
    <label>Quận, huyện<label>
  </p>
  <p>
    <select id="id_districts">
      <option disabled selected value></option>
      <% @districts.each do |district|%>
        <option style="display:none" value="<%= district.id%>">
          <%= district.name %>
        </option>
      <% end %>
    </select>
  </p>

  <p>
    <label>Phường, xã<label>
  </p>
  <p>
    <select id="id_wards">
      <option disabled selected value></option>
      <% @wards.each do |ward|%>
        <option style="display:none" value="<%= ward.id%>">
          <%= ward.name %>
        </option>
      <% end %>
    </select>
  </p>
  <p>
    <%= f.text_area :temporary_address, label: 'Số nhà, đường,...', id: 'id_adress'%>
  </p>
  <p>
    <%= f.text_field :contact, label: 'Liên hệ'%>
  </p>
  <p>
    <%= f.text_area :note, label: 'Ghi chú'%>
  </p>
</fieldset>

<fieldset class="box">
  <legend><%=l(:field_mail_notification)%></legend>
  <%= render :partial => 'users/mail_notifications' %>
</fieldset>

<fieldset class="box tabular">
  <legend><%=l(:label_preferences)%></legend>
  <%= render :partial => 'users/preferences' %>
  <%= call_hook(:view_users_form_preferences, :user => @user, :form => f) %>
</fieldset>
</div>
</div>
</div>
<div style="clear:left;"></div>
<!--[eoform:user]-->

<%= javascript_tag do %>
$(document).ready(function(){
  $('#user_generate_password').change(function(){
    var passwd = $('#user_password, #user_password_confirmation');
    if ($(this).is(':checked')){
      passwd.val('').attr('disabled', true);
    }else{
      passwd.removeAttr('disabled');
    }
  }).trigger('change');
});
<% end %>

<%= javascript_tag do %>
function handleDisplayDistricts(data){
  districts_selector = document.getElementById("id_districts");
  districts_selector.innerHTML = ''
  for (var i = 0; i < data.length; i++){
    var node = document.createElement('option');
    var textNode = document.createTextNode(data[i].name);
    var value = node.setAttribute('value', data[i].id);
    node.appendChild(textNode);
    districts_selector.appendChild(node);
  }
}

function handleDisplayWards(data){
  console.log(data);
  wards_selector = document.getElementById("id_wards");
  wards_selector.innerHTML = ''
  for (var i = 0; i < data.length; i++){
    var node = document.createElement('option');
    var textNode = document.createTextNode(data[i].name);
    var value = node.setAttribute('value', data[i].id);
    node.appendChild(textNode);
    wards_selector.appendChild(node);
  };
};

function handleDisplayInput(data){
  const adress_node = document.getElementById("id_adress");
  const provinces_node = document.getElementById("id_provinces");
  const districts_node = document.getElementById("id_districts");
  const wards_node = document.getElementById("id_wards");
  adress_node.value = `${wards_node.options[wards_node.selectedIndex].text}, ${districts_node.options[districts_node.selectedIndex].text}, ${provinces_node.options[provinces_node.selectedIndex].text}`;
  
  };

  $(document).ready(function(){
    $(document).on("change", "#id_provinces", function(event){
      const value = event.target.value;
      $.post("/user/display_districts", {place_id: value} , function(data){
        handleDisplayDistricts(data);
      });
    });

    $(document).on("change", "#id_districts", function(event){
      const value = event.target.value;
      $.post("/user/display_wards", {place_id: value} , function(data){
        handleDisplayWards(data);
      });
    });

    $(document).on("change", "#id_wards", function(event){
      const value = event.target.value;
      $.post("/user/display_input", {place_id: value} , function(data){
        handleDisplayInput(data);
      });
    });
  });
<% end %>
